<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MapSuiteDependency-GeoAPI" version="10.0.1" targetFramework="net45" />
  <package id="MapSuiteDependency-MicrosoftSqlServerTypes" version="10.0.2" targetFramework="net45" />
  <package id="MapSuiteDependency-MicrosoftVisualCRunTime100" version="10.0.0" targetFramework="net45" />
  <package id="MapSuiteDependency-NetTopologySuite" version="10.0.1" targetFramework="net45" />
  <package id="MapSuiteDesktopForWpf-BareBone" version="11.0.0-beta012" targetFramework="net45" />
  <package id="ThinkGeo.MapSuite" version="11.0.0-beta018" targetFramework="net45" />
  <package id="ThinkGeo.MapSuite.Layers.CloudFile" version="11.0.0-beta002" targetFramework="net45" />
  <package id="ThinkGeo.MapSuite.Layers.ShapeFile" version="11.0.0-beta002" targetFramework="net45" />
  <package id="ThinkGeo.MapSuite.Layers.TinyGeo" version="11.0.0-beta001" targetFramework="net45" />
  <package id="ThinkGeo.MapSuite.ProductCenter" version="11.0.0-beta007" targetFramework="net45" />
  <package id="ThinkGeo.MapSuite.Styles.ClassBreak" version="11.0.0-beta001" targetFramework="net45" />
  <package id="ThinkGeo.MapSuite.Styles.Composite" version="11.0.0-beta001" targetFramework="net45" />
  <package id="ThinkGeo.MapSuite.Styles.DotDensity" version="11.0.0-beta001" targetFramework="net45" />
  <package id="ThinkGeo.MapSuite.Styles.Filter" version="11.0.0-beta001" targetFramework="net45" />
  <package id="ThinkGeo.MapSuite.Styles.Icon" version="11.0.0-beta001" targetFramework="net45" />
  <package id="ThinkGeo.MapSuite.Styles.Regex" version="11.0.0-beta001" targetFramework="net45" />
  <package id="ThinkGeo.MapSuite.Styles.Value" version="11.0.0-beta001" targetFramework="net45" />
</packages>