<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AvalonEdit" version="6.3.1.120" targetFramework="net48" />
  <package id="MapSuiteDependency-GeoAPI" version="10.6.0" targetFramework="net452" />
  <package id="MapSuiteDependency-MicrosoftSqlServerTypes" version="10.6.0" targetFramework="net452" />
  <package id="MapSuiteDependency-MicrosoftVisualCRunTime100" version="10.6.0" targetFramework="net452" />
  <package id="MapSuiteDependency-NetTopologySuite" version="10.6.0" targetFramework="net452" />
  <package id="MapSuiteDependency-NewtonsoftJson" version="10.6.0" targetFramework="net452" />
  <package id="MapSuiteDependency-SkiaSharp" version="10.6.0" targetFramework="net452" />
  <package id="MapSuiteDependency-UnmanagedProj4Projection" version="10.6.0" targetFramework="net452" />
  <package id="MapSuiteDesktopForWpf-BareBone" version="10.6.9" targetFramework="net452" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="10.0.2" targetFramework="net48" />
  <package id="Microsoft.Data.Sqlite" version="10.0.2" targetFramework="net48" />
  <package id="Microsoft.Data.Sqlite.Core" version="10.0.2" targetFramework="net48" />
  <package id="NetTopologySuite" version="2.6.0" targetFramework="net48" />
  <package id="SkiaSharp" version="3.119.1" targetFramework="net48" />
  <package id="SkiaSharp.NativeAssets.Linux" version="3.119.1" targetFramework="net48" />
  <package id="SkiaSharp.NativeAssets.macOS" version="3.119.1" targetFramework="net48" />
  <package id="SkiaSharp.NativeAssets.Win32" version="3.119.1" targetFramework="net48" />
  <package id="SourceGear.sqlite3" version="3.50.4.5" targetFramework="net48" />
  <package id="SQLitePCLRaw.bundle_e_sqlite3" version="3.0.2" targetFramework="net48" />
  <package id="SQLitePCLRaw.config.e_sqlite3" version="3.0.2" targetFramework="net48" />
  <package id="SQLitePCLRaw.core" version="3.0.2" targetFramework="net48" />
  <package id="SQLitePCLRaw.lib.e_sqlite3" version="2.1.11" targetFramework="net48" />
  <package id="SQLitePCLRaw.provider.dynamic_cdecl" version="3.0.2" targetFramework="net48" />
  <package id="SQLitePCLRaw.provider.e_sqlite3" version="3.0.2" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net48" />
  <package id="System.IO.Pipelines" version="10.0.2" targetFramework="net48" />
  <package id="System.Memory" version="4.6.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="10.0.2" targetFramework="net48" />
  <package id="System.Text.Json" version="10.0.2" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.6.1" targetFramework="net48" />
  <package id="ThinkGeo.Cloud.Client" version="10.6.0" targetFramework="net452" />
  <package id="ThinkGeo.Core" version="14.4.3" targetFramework="net48" />
  <package id="ThinkGeo.MapSuite" version="10.6.5" targetFramework="net452" />
  <package id="ThinkGeo.MapSuite.Layers.CloudFile" version="10.6.0" targetFramework="net452" />
  <package id="ThinkGeo.MapSuite.Layers.ShapeFile" version="10.6.0" targetFramework="net452" />
  <package id="ThinkGeo.MapSuite.Layers.TinyGeo" version="10.6.0" targetFramework="net452" />
  <package id="ThinkGeo.MapSuite.ProductCenter" version="10.6.0" targetFramework="net452" />
  <package id="ThinkGeo.MapSuite.Shapes.UnmanagedProj4Projection" version="10.6.0" targetFramework="net452" />
  <package id="ThinkGeo.MapSuite.Styles.ClassBreak" version="10.6.0" targetFramework="net452" />
  <package id="ThinkGeo.MapSuite.Styles.Composite" version="10.6.0" targetFramework="net452" />
  <package id="ThinkGeo.MapSuite.Styles.DotDensity" version="10.6.0" targetFramework="net452" />
  <package id="ThinkGeo.MapSuite.Styles.Filter" version="10.6.0" targetFramework="net452" />
  <package id="ThinkGeo.MapSuite.Styles.Icon" version="10.6.0" targetFramework="net452" />
  <package id="ThinkGeo.MapSuite.Styles.Regex" version="10.6.0" targetFramework="net452" />
  <package id="ThinkGeo.MapSuite.Styles.Value" version="10.6.0" targetFramework="net452" />
  <package id="ThinkGeo.UI.Wpf" version="14.4.3" targetFramework="net48" />
</packages>
