<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MapSuiteDependency-GeoAPI" version="10.6.0" targetFramework="net452" />
  <package id="MapSuiteDependency-MicrosoftSqlServerTypes" version="10.6.0" targetFramework="net452" />
  <package id="MapSuiteDependency-MicrosoftVisualCRunTime100" version="10.6.0" targetFramework="net452" />
  <package id="MapSuiteDependency-NetTopologySuite" version="10.6.0" targetFramework="net452" />
  <package id="MapSuiteDependency-NewtonsoftJson" version="10.6.0" targetFramework="net452" />
  <package id="MapSuiteDependency-SkiaSharp" version="10.6.0" targetFramework="net452" />
  <package id="MapSuiteDependency-UnmanagedProj4Projection" version="10.6.0" targetFramework="net452" />
  <package id="MapSuiteDesktopForWpf-BareBone" version="10.6.8" targetFramework="net452" />
  <package id="ThinkGeo.Cloud.Client" version="10.6.0" targetFramework="net452" />
  <package id="ThinkGeo.MapSuite" version="10.6.5" targetFramework="net452" />
  <package id="ThinkGeo.MapSuite.Layers.CloudFile" version="10.6.0" targetFramework="net452" />
  <package id="ThinkGeo.MapSuite.Layers.ShapeFile" version="10.6.0" targetFramework="net452" />
  <package id="ThinkGeo.MapSuite.Layers.TinyGeo" version="10.6.0" targetFramework="net452" />
  <package id="ThinkGeo.MapSuite.ProductCenter" version="10.6.0" targetFramework="net452" />
  <package id="ThinkGeo.MapSuite.Shapes.UnmanagedProj4Projection" version="10.6.0" targetFramework="net452" />
  <package id="ThinkGeo.MapSuite.Styles.ClassBreak" version="10.6.0" targetFramework="net452" />
  <package id="ThinkGeo.MapSuite.Styles.Composite" version="10.6.0" targetFramework="net452" />
  <package id="ThinkGeo.MapSuite.Styles.DotDensity" version="10.6.0" targetFramework="net452" />
  <package id="ThinkGeo.MapSuite.Styles.Filter" version="10.6.0" targetFramework="net452" />
  <package id="ThinkGeo.MapSuite.Styles.Icon" version="10.6.0" targetFramework="net452" />
  <package id="ThinkGeo.MapSuite.Styles.Regex" version="10.6.0" targetFramework="net452" />
  <package id="ThinkGeo.MapSuite.Styles.Value" version="10.6.0" targetFramework="net452" />
</packages>