<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AvalonDock-1.x" version="1.3.3600.2" targetFramework="net40-client" />
  <package id="MapSuiteDependency-CilociFlee" version="10.5.0" targetFramework="net452" />
  <package id="MapSuiteDependency-EsriFileGeoDatabase" version="10.5.0" targetFramework="net452" />
  <package id="MapSuiteDependency-GdalS57" version="10.5.0" targetFramework="net452" />
  <package id="MapSuiteDependency-GeoAPI" version="10.5.0" targetFramework="net452" />
  <package id="MapSuiteDependency-HexagonGeospatialEcw" version="10.5.0" targetFramework="net452" />
  <package id="MapSuiteDependency-LibGeoTiff" version="10.5.0" targetFramework="net452" />
  <package id="MapSuiteDependency-LizardTechMrSid" version="10.5.0" targetFramework="net452" />
  <package id="MapSuiteDependency-MicrosoftSqlServerTypes" version="10.5.0" targetFramework="net452" />
  <package id="MapSuiteDependency-MicrosoftVisualCRunTime100" version="10.5.0" targetFramework="net452" />
  <package id="MapSuiteDependency-NetTopologySuite" version="10.5.0" targetFramework="net452" />
  <package id="MapSuiteDependency-NewtonsoftJson" version="10.5.0" targetFramework="net452" />
  <package id="MapSuiteDependency-Npgsql" version="10.5.0" targetFramework="net452" />
  <package id="MapSuiteDependency-PDFsharp" version="10.5.0" targetFramework="net452" />
  <package id="MapSuiteDependency-SkiaSharp" version="10.5.0" targetFramework="net452" />
  <package id="MapSuiteDependency-SQLiteCore" version="10.5.0" targetFramework="net452" />
  <package id="MapSuiteDesktopForWpf-Standard" version="10.5.1" targetFramework="net452" />
  <package id="ThinkGeo.Cloud.Client" version="10.5.0" targetFramework="net452" />
  <package id="ThinkGeo.MapSuite" version="10.5.0" targetFramework="net452" />
  <package id="ThinkGeo.MapSuite.Drawing.PdfGeoCanvas" version="10.5.0" targetFramework="net452" />
  <package id="ThinkGeo.MapSuite.Layers.Adornments" version="10.5.0" targetFramework="net452" />
  <package id="ThinkGeo.MapSuite.Layers.Background" version="10.5.0" targetFramework="net452" />
  <package id="ThinkGeo.MapSuite.Layers.BingMaps" version="10.5.0" targetFramework="net452" />
  <package id="ThinkGeo.MapSuite.Layers.CloudFile" version="10.5.0" targetFramework="net452" />
  <package id="ThinkGeo.MapSuite.Layers.Delimited" version="10.5.0" targetFramework="net452" />
  <package id="ThinkGeo.MapSuite.Layers.Ecw" version="10.5.0" targetFramework="net452" />
  <package id="ThinkGeo.MapSuite.Layers.FileGeoDatabase" version="10.5.0" targetFramework="net452" />
  <package id="ThinkGeo.MapSuite.Layers.GeoTiff" version="10.5.0" targetFramework="net452" />
  <package id="ThinkGeo.MapSuite.Layers.GoogleMaps" version="10.5.0" targetFramework="net452" />
  <package id="ThinkGeo.MapSuite.Layers.Gpx" version="10.5.0" targetFramework="net452" />
  <package id="ThinkGeo.MapSuite.Layers.Graticule" version="10.5.0" targetFramework="net452" />
  <package id="ThinkGeo.MapSuite.Layers.Grids" version="10.5.0" targetFramework="net452" />
  <package id="ThinkGeo.MapSuite.Layers.Group" version="10.5.0" targetFramework="net452" />
  <package id="ThinkGeo.MapSuite.Layers.Heat" version="10.5.0" targetFramework="net452" />
  <package id="ThinkGeo.MapSuite.Layers.IsoLine" version="10.5.0" targetFramework="net452" />
  <package id="ThinkGeo.MapSuite.Layers.Jpeg2000" version="10.5.0" targetFramework="net452" />
  <package id="ThinkGeo.MapSuite.Layers.Kml" version="10.5.0" targetFramework="net452" />
  <package id="ThinkGeo.MapSuite.Layers.MapShape" version="10.5.0" targetFramework="net452" />
  <package id="ThinkGeo.MapSuite.Layers.MrSid" version="10.5.0" targetFramework="net452" />
  <package id="ThinkGeo.MapSuite.Layers.MsSql" version="10.5.0" targetFramework="net452" />
  <package id="ThinkGeo.MapSuite.Layers.MultipleFeatureSource" version="10.5.0" targetFramework="net452" />
  <package id="ThinkGeo.MapSuite.Layers.NativeImage" version="10.5.0" targetFramework="net452" />
  <package id="ThinkGeo.MapSuite.Layers.NauticalCharts" version="10.5.0" targetFramework="net452" />
  <package id="ThinkGeo.MapSuite.Layers.Noaa" version="10.5.0" targetFramework="net452" />
  <package id="ThinkGeo.MapSuite.Layers.OpenStreetMap" version="10.5.0" targetFramework="net452" />
  <package id="ThinkGeo.MapSuite.Layers.PostgreSql" version="10.5.0" targetFramework="net452" />
  <package id="ThinkGeo.MapSuite.Layers.Printers" version="10.5.0" targetFramework="net452" />
  <package id="ThinkGeo.MapSuite.Layers.Restriction" version="10.5.0" targetFramework="net452" />
  <package id="ThinkGeo.MapSuite.Layers.ShapeFile" version="10.5.0" targetFramework="net452" />
  <package id="ThinkGeo.MapSuite.Layers.Sqlite" version="10.5.0" targetFramework="net452" />
  <package id="ThinkGeo.MapSuite.Layers.Tab" version="10.5.0" targetFramework="net452" />
  <package id="ThinkGeo.MapSuite.Layers.TiledWms" version="10.5.0" targetFramework="net452" />
  <package id="ThinkGeo.MapSuite.Layers.TinyGeo" version="10.5.0" targetFramework="net452" />
  <package id="ThinkGeo.MapSuite.Layers.TobinBas" version="10.5.0" targetFramework="net452" />
  <package id="ThinkGeo.MapSuite.Layers.Wfs" version="10.5.0" targetFramework="net452" />
  <package id="ThinkGeo.MapSuite.Layers.WkbFile" version="10.5.0" targetFramework="net452" />
  <package id="ThinkGeo.MapSuite.Layers.Wms" version="10.5.0" targetFramework="net452" />
  <package id="ThinkGeo.MapSuite.Layers.Wmts" version="10.5.0" targetFramework="net452" />
  <package id="ThinkGeo.MapSuite.Layers.WorldMapKit" version="10.5.0" targetFramework="net452" />
  <package id="ThinkGeo.MapSuite.ProductCenter" version="10.5.0" targetFramework="net452" />
  <package id="ThinkGeo.MapSuite.Styles.ClassBreak" version="10.5.0" targetFramework="net452" />
  <package id="ThinkGeo.MapSuite.Styles.ClusterPoint" version="10.5.0" targetFramework="net452" />
  <package id="ThinkGeo.MapSuite.Styles.Composite" version="10.5.0" targetFramework="net452" />
  <package id="ThinkGeo.MapSuite.Styles.DotDensity" version="10.5.0" targetFramework="net452" />
  <package id="ThinkGeo.MapSuite.Styles.Filter" version="10.5.0" targetFramework="net452" />
  <package id="ThinkGeo.MapSuite.Styles.FleeBoolean" version="10.5.0" targetFramework="net452" />
  <package id="ThinkGeo.MapSuite.Styles.Gradient" version="10.5.0" targetFramework="net452" />
  <package id="ThinkGeo.MapSuite.Styles.Icon" version="10.5.0" targetFramework="net452" />
  <package id="ThinkGeo.MapSuite.Styles.IconValue" version="10.5.0" targetFramework="net452" />
  <package id="ThinkGeo.MapSuite.Styles.Regex" version="10.5.0" targetFramework="net452" />
  <package id="ThinkGeo.MapSuite.Styles.Value" version="10.5.0" targetFramework="net452" />
  <package id="ThinkGeo.MapSuite.Styles.WellPoint" version="10.5.0" targetFramework="net452" />
  <package id="ThinkGeo.MapSuite.Styles.ZedGraph" version="10.5.0" targetFramework="net452" />
</packages>